@{
    ViewData["Title"] = "BBL - XCRV360 : Premium Banking Avg Balance";
    Layout = "~/Views/Shared/Template/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"> </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Customer</a></li>
                    <li class="breadcrumb-item active">Premium Banking Avg Balance</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Premium Banking Avg Balance</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button type="button" id="btnSearchAction" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" style="min-width: 200px!important;">
                                    Search By                                      
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a href="#">3 Months</a></li>
                                    <li class="dropdown-item"><a href="#">6 Months</a></li>
                                    <li class="dropdown-item"><a href="#">12 Months</a></li>
                                </ul>
                            </div>&nbsp;&nbsp;
                            <!-- /btn-group -->
                             <label style="font-weight:600">Average Balance:</label>&nbsp;
                            <input type="number" id="txtSearchString" class="">
                            (Amount In Taka)&nbsp;&nbsp;
                            <span class="input-group-append">
                                <button type="button" id="btnSearch" class="btn btn-info btn-flat">Search</button>
                            </span>
                        </div> 
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-md-12">
                        <table id="customerInfo" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>CIF</th>
                                    <th>Account Number</th>
                                    <th>Account Name</th>
                                    <th>Cost Center</th>
                                    <th>Avg. Bal. TDA</th>
                                    <th>Avg. Bal. CASA</th>
                                    <th>Average Balance (TDA + CASA)</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">               
            </div>
        </div>

    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->

@section ScriptSection
{
<!-- DataTables  & Plugins -->
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/plugins/jszip/jszip.min.js"></script>
<script src="~/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<script type="text/javascript">
    $('.dropdown-menu').on('click', 'a', function () {
        var text = $(this).html();
        var htmlText = text;
        $(this).closest('.input-group-prepend').find('.dropdown-toggle').html(htmlText);
    });
</script>

<script>
    $(document).on('click', '#btnSearch',  function () {
        type = $('#btnSearchAction').text();
        searchString = $('#txtSearchString').val();
         if(searchString=="")
           {
               toastr.error('Average Balance cannot be empty.');
           }
        else if(type=="\n                                    Search By                                      \n                                ")
           {
               toastr.error('Please select search by field.');
           }
           else{
              var searchType = '';
        switch (type) {
            case "3 Months":
                searchType = "3";
                break;
            case "6 Months":
                searchType = "6";
                break;
            case "12 Months":
                searchType = "12";
                break;
            default:
                searchType = type;
                break;
        }
        loadAvgBal(searchType, searchString );
       }
        
    });

    $('#customerInfo').DataTable({
        "filter": true, // this is for disable filter (search box)
        "paging": true,
        "pageLength": 10,
        "lengthChange": false,
        "pagingType": "full_numbers",
        "scrollX": false,
        "autoWidth": true,
        "initComplete": function (settings, json) {
            $("#customerInfo").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
        },
    });

    function loadAvgBal(type, searchString) {
           
        $('#customerInfo').DataTable().destroy();            
        $('#customerInfo').DataTable({
            "language": {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
            },
            "filter": true, // this is for disable filter (search box)
            "paging": true,
            "pageLength": 10,
            "lengthChange": false,
            "pagingType": "full_numbers",
            "scrollX": false,
            "autoWidth": true,
            "ajax": {
                "url": "/PremiumCustAvgBalRpt/getPremimumAvgBal",
                "dataSrc": function (d) {
                    if (d.data.length === 0) {
                        var settings = $('#customerInfo').DataTable().settings()[0];
                        settings.oLanguage.sEmptyTable = d.message;
                    }
                    return d.data;
                },
                "data": { seachType: type, seachString: searchString },
                "type": "GET",
                "dataType": "json"
            },
            "columns": [
                
                { "data": "cust_id", "name": "cust_id" },
                { "data": "foracid", "name": "foracid" },
                { "data": "acct_name", "name": "acct_name" },
                { "data": "acct_label_desc", "name": "acct_label_desc" },
                { "data": "schm_type", "name": "schm_type" },
                { "data": "tdaavgbal", "name": "tdaavgbal" },
                { "data": "casaavgbal", "name": "casaavgbal" },
            ]
        });

        $("#customerInfo").wrap('<div style="overflow:auto;" />');

    }


</script>

}