
@{
    ViewData["Title"] = "LoanPayoff";
    Layout = "~/Views/Shared/Template/_Layout.cshtml";
}

@using XCRV.Domain.Entities

@model IEnumerable<LoanPayoffInfo>

<style>
    .form-check {
        padding-left: 0rem !important;
    }

    .dropdown-menu {
        /*  position: absolute;
                top: 100%;
                left: 0;*/
        z-index: 1035;
    }
</style>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Loan</a></li>
                    <li class="breadcrumb-item active">Loan Payoff</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Loan Payoff</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                <form asp-controller="LoanAccount" asp-action="LoanPayoff">
                    <div class="row">

                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Loan Account No</label>
                                <input type="text" class="form-control" id="accountNo" name="accountNo" value="@ViewBag.accountNo" />
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>Payoff Date</label>
                                <div class='input-group'>
                                    <input type="text" id="payOffDate" name="payOffDate" class="form-control singledate" value="@ViewBag.payOffDate" autocomplete="off" />
                                    <div class="input-group-append">
                                        <label for="payOffDate" class="input-group-text">
                                            <span class="fa fa-calendar"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>ES FEE(%)</label>
                                <input type="text" id="esFee" name="esFee" class="form-control" value="@ViewBag.esFee" />
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button id="btnSearch" type="submit" class="btn btn-primary form-control" value="Search"><span id="btnText"> Search</span></button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-12">
                        @await Html.PartialAsync("_LoanPayoffDetails", Model)
                    </div>
                </div>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
            </div>
        </div>

    </div><!-- /.container-fluid -->
</div><!-- /.contant -->

@section ScriptSection
{
    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script>
    $(document).ready(function () {

    @if (TempData.ContainsKey("ErrorMessage"))
    {
        @:toastr.error('@TempData["ErrorMessage"]');
    };
    });

        $("#tblPayoff").DataTable({
            "autoWidth": false,"responsive": false, "lengthChange": false, "autoWidth": false, "scrollX": false, "filter": false,"paging": false, "bInfo" : false, "order": [],"targets": 'no-sort',"orderable": false
        });
    </script>

    <script>
        $(function () {
            $('#payOffDate').datepicker({
                changeMonth: true,
                changeYear: true,
                format: "dd-M-yyyy",
                language: "tr",
                autoclose: true
            });
        });

    </script>

}
